<h1><%= @artist[:title] %></h1>
<p>
  <%= @artist[:content]%>
</p>
<p>
  <% u = @artist.user%>
  Created by: <a href="user_path(u.id)"><%= u.name%></a>
</p>

<p>
  <a href="<%= new_chord_path + "?id=" + @artist.id.to_s %>" class="btn btn-default" role="button">Add new chords</a>
</p>

<% if @chords.empty? %>
  <p>No chords yet</p>
<% else %>
  <p>Avaliable chords:</p>
  <% @chords.each do |c| %>
    <p><a href="<%= chord_path(c.id) %>"><%= c.title %></a></p>
  <% end %>
<% end %>

<% if !@comments.empty? %>
  Comments:
  <% @comments.each do |comment| %>
    <p>
      <a><%= comment.user.name %></a>
      <span><%= comment.content %></span>
    </p>
  <% end %>
<% else %>
  No comments yet
<% end %>

<% if current_user %>

  <%= form_tag '/add_comment' do %>
    <%= hidden_field_tag :chord_id, @artist.id %>
    Message: <%= text_field_tag :message %>
    <%= submit_tag "Submit" %>
  <% end %>
  
<% else %>

  <p>Login to leave comment</p>

<% end %>
