<h1><%= @chord[:title] %></h1>
<% if !@tags.empty? %>
<% @tags.each do |tag| %>
  <a href="<%= tag_path(tag[:id]) %>"><span class="badge"><%= tag[:title] %></span></a>
<% end %>
<% end %>
<p>
  <%= @chord[:content]%>
</p>
<p>
  Created by: <%= @chord.user.name%>
</p>



<% if !@comments.empty? %>
  Comments:
  <% @comments.each do |comment| %>
    <p>
      <a><%= comment.user.name %></a>
      <span><%= comment.content %></span>
    </p>
  <% end %>
<% else %>
  No comments yet
<% end %>

<%= form_tag '/add_comment' do %>
  <%= hidden_field_tag :chord_id, @chord.id %>
  Message: <%= text_field_tag :message %>
  <%= submit_tag "Submit" %>

<% end %>
