<h1><%= @chord[:title] %></h1>
<p>
  <%= simple_format @chord[:content]%>
</p>
<p>
  <% u = @chord.user%>
  Created by: <a href="user_path(u.id)"><%= u.name%></a>
</p>

<% if !@comments.empty? %>
  Comments:
  <% @comments.each do |comment| %>
    <p>
      <a><%= comment.user.name %></a>
      <span><%= comment.content %></span>
    </p>
  <% end %>
<% else %>
  No comments yet
<% end %>

<% if current_user %>

  <%= form_tag '/add_comment' do %>
    <%= hidden_field_tag :chord_id, @chord.id %>
    Message: <%= text_field_tag :message %>
    <%= submit_tag "Submit" %>
  <% end %>
  
<% else %>

  <p>Login to leave comment</p>

<% end %>
