<!DOCTYPE html>
<html>
  <head>
    <title>Chords</title>
    <%= csrf_meta_tags %>
    
    <%= yield :head %>

    <style>
      html {
        height: 100%;
      }
      body {
        min-height: 100%;
      }
    </style>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="<%= root_path %>">Chords.tk</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="<%= root_path %>">Home</a></li>
          <li><a href="<%= artists_path%>">Artists</a></li>
          <li><a href="<%= chords_path%>">Chords</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= form_tag search_path, :method => 'get', :class => 'navbar-form' do %>
                <%= text_field_tag :search, params[:search] %>
                <%= submit_tag "Search", :class => 'btn btn-default', :name => nil %>
            <% end %>
          </li>
          <% if current_user %>
            <li><a href=""><%= current_user.name %></a></li>
            <li><a href="<%= logout_path %>">Logout</a></li>
          <% else %>          
            <li><a href="<%= signup_path %>">Sign Up</a></li>
            <li><a href="<%= login_path %>">Login</a></li>
          <% end %>
        </ul>
      </div>
    </nav>
        
    <div class="container">             
      <%= yield %>
    </div>
  </body>
</html>
